:root {
	--black: #111;
	--white: #f8f8f8;
	--light-light-gray: #f1f1f1;
	--light-gray: #e1e1e1;
	--medium-light-gray: #d7d7d7;
	--medium-gray: #bbb;
	--gray: #7f7f7f;
	--dark-gray: #444;

	--light-red: lightcoral;
	--red: #ff1111;
	--light-yellow: lightgoldenrodyellow;
	--yellow: gold;
	--light-green: lightgreen;
	--green: green;
	--light-blue: #d1d1f1;
	--blue: #518af1;

	--border: 2px solid var(--light-gray);
	--border-radius: 4px;
	--transition-duration: 200ms;
}

*::-webkit-scrollbar {
	width: 6px;
}

*::-webkit-scrollbar-thumb {
	background-color: var(--light-gray);
	border-radius: var(--border-radius);
}

*:hover::-webkit-scrollbar-thumb {
	background-color: var(--blue);
}

html { box-sizing: border-box }

body {
	display: grid;
	grid-template-rows: auto 1fr auto;
	grid-template-columns: auto 1fr;
	margin: 0;
	padding: 0;
	min-height: 100vh;
	background-color: var(--white);
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Tahoma, Helvetica, sans-serif;
	font-size: 16px;
	line-height: 1.75;
}

a {
	color: var(--black);
	text-decoration: none;
	cursor: pointer;
}
a:visited { color: inherit }

p { text-align: justify }

input {
	margin: 3px;
	padding: 3px 8px;
	vertical-align: middle;
	font: inherit;
	-webkit-appearance: none;
}
input:active {
	background-color: var(--white);
	color: var(--black);
}
input:disabled {
	background-color: var(--white);
	opacity: 0.67;
	cursor: default;
}
input:checked + label[for] {
	background-color: var(--light-green) !important;
	border-color: var(--green) !important;
}

input[type=button],
input[type=submit],
input[type=reset],
input[type=checkbox] + label[for],
input[type=radio] + label[for],
input[type=file] + label[for] {
	background-color: var(--light-light-gray);
	color: var(--dark-gray);
	border: var(--border);
	border-radius: var(--border-radius);
	text-align: left;
	cursor: pointer;
}

input[type=checkbox],
input[type=radio],
input[type=file] {
	display: none;
}

input[type=checkbox]:disabled,
input[type=radio]:disabled,
input[type=file]:disabled {
	background-color: var(--white);
	opacity: 0.67;
	cursor: default;
}

input[type=text],
input[type=password],
select,
textarea {
	background-color: var(--white);
	text-align: left;
	border: 0 solid transparent;
	border-bottom: var(--border);
}

ul {
	display: inline-block;
	list-style: none;
	margin: 1em 0 0 0;
	padding: 0 0 0 1em;
}
ul ul {
	border-left: 1px solid var(--gray);
}
ul li {
	margin: 0.5em;
	padding: 0;
	border: 1px solid transparent;
}

li p {
	font-weight: bold;
}
li a {
	display: block;
	padding: 0.5em;
	border: 1px solid transparent;
}
li a:hover {
	background-color: var(--white);
	border-color: var(--black) !important;
}

pre {
	padding: 0.5em;
	color: var(--black);
	background-color: var(--light-gray);
	border-radius: var(--border-radius);
	text-align: left;
	white-space: pre-wrap;
	box-shadow: 1px 1px 5px var(--gray);
}

pre,
table {
	margin: 1em auto;
	width: 100%;
	max-width: 720px;
	box-sizing: border-box;
}

table {
	border: 1px solid var(--medium-light-gray);
	border-collapse: collapse;
}

table tr { border-bottom: 1px solid var(--gray) }

table tr:nth-child(2n) { background-color: var(--medium-light-gray) }

table th { background-color: var(--medium-gray) }

th, td { padding: 0.5em }

td[colspan] { text-align: center }

header h1 {
	text-shadow:
		 1px  1px var(--white),
		-1px  1px var(--white),
		 1px -1px var(--white),
		-1px -1px var(--white);
}

article {
	margin: 0 auto;
	max-width: 1080px;
}

section {
	margin: 1em 2em;
	padding: 1em;
	/* border-radius: var(--border-radius);
	box-shadow: 0 0 var(--border-radius) var(--light-blue); */
}

section:not(:last-child) { border-bottom: var(--border) }

.sidebar-menu {
	position: sticky;
	top: 0;
	margin: 1em;
	max-height: 100vh;
	overflow-y: auto;
}

.content-frame {
	margin: 0 auto;
	padding: 2em;
	max-width: 1080px;
}

.page-header { grid-row: 1 }
.page-footer { grid-row: 3 }
.page-header,
.page-footer {
	grid-column: 1 / 3;
	padding: 1em;
	background: var(--blue) linear-gradient(to right, var(--blue), var(--light-green) 150%);
	box-shadow: inset 0 -2em 2em -2em var(--light-light-gray);
	border-bottom: var(--border);
	border-radius: 0 0 var(--border-radius) var(--border-radius);
}

#sidebar-button + label[for] { display: none }

#sidebar {
	grid-row: 2;
	grid-column: 1;
	padding-left: 1em;
	min-width: 256px;
	max-width: 50%;
	background-color: var(--white);
	box-shadow: 0 0 1em var(--light-gray);
}

#content-wrapper {
	grid-row: 2;
	grid-column: 2;
	display: grid;
	grid-template-rows: 1fr auto;
}

@media screen and (max-width: 600px) {
	body { display: block }

	.sidebar-menu {
		max-height: none;
		overflow: hidden
	}

	.content-frame * { overflow-x: auto }

	#sidebar-button + label[for] {
		display: block;
		position: sticky;
		top: 0;
		left: 0;
		right: 0;
		padding: 0.5em;
		line-height: 2em;
		background-color: var(--gray);
	}
	#sidebar-button + label[for]::before { content: '🍔' }
	#sidebar-button:checked + label[for] {
		position: fixed;
		background-color: var(--light-green);
	}
	#sidebar-button:checked + label[for]::before { content: '❌' }
	#sidebar-button:checked + label[for] + #sidebar {
		left: 0;
		right: 0;
		opacity: 1;
	}

	#sidebar {
		position: fixed;
		top: 3em;
		bottom: 0;
		left: -100%;
		right: 100%;
		max-width: none;
		max-height: calc(100vh - 3em);
		opacity: 0;
		transition:
			right var(--transition-duration) ease-out,
			opacity var(--transition-duration);
		overflow-y: auto;
	}

	#content-wrapper { min-height: 100vh }
}